.skills-list {
  margin: auto;
  width: 600px;
  display: block;
  height: 200px;
}

.skills-list img{
  width: 100%;
}

.skills-list > li {
  width: 100px;
  height: 100px;
  padding: 10px;
  display: block;
  float: left;
}
